<launch>

  <arg default="$(find urdf_tutorial)/urdf/r2d2.xacro" name="model" />
  <arg default="$(find urdf_tutorial)/urdf.rviz" name="rvizconfig" />

  <include file="gazebo.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <node args="-d $(arg rvizconfig)" name="rviz" pkg="rviz" type="rviz" />

  
  <rosparam command="load" file="control.yaml" />

  
  <node args="r2d2_joint_state_controller           r2d2_diff_drive_controller           r2d2_head_controller           r2d2_gripper_controller           --shutdown-timeout 3" name="r2d2_controller_spawner" pkg="controller_manager" type="spawner" />

  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">

    <param name="default_topic" value="/r2d2_diff_drive_controller/cmd_vel" />
  </node>

</launch>
